<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="'Sring boot:MVC + thymeleaf + Data JPA' + ${titulo} "></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			<a class="navbar-brand" href="#">Spring Boot</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/listar}">Clientes</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="alert alert-success" th:if="${succes != null}" th:text="${succes}"></div>
		<div class="alert alert-danger" th:if="${danger != null}" th:text="${danger}"></div>
		<div class="alert alert-warning" th:if="${warningn != null }" th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
	</header>

	<div class="container"></div>

	<footer th:fragment="footer" class="container">
		<hr />
		<img th:src="@{images/spring-boot.png}" alt="Spring logo" />

		<p>
			Powered by <a href="https://projects.spring.io/spring-boot/">
				Spring Boot </a> and <a href="https://www.thymeleaf.org"> Thymeleaf</a>
		</p>
		<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"/></script>
		<script th:src="@{/js/bootstrap.min.js}"/></script>

	</footer>
</body>
</html>