<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">

		<div class="card bg-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<div th:object="${cliente}" th:remove="tag">
					<div th:if="${#fields.hasErrors('*')}">
						<ul>
							<li th:each="error:${#fields.errors('*')}" th:text="${error}"></li>
						</ul>
					</div>
				</div>
				<form th:action="@{/form}" th:object="${cliente}" method="post">
					<table class="table table-border">
						<tr>
							<td style="width: 200px">Nombre</td>
							<td><input type="text" th:field="*{nombre}"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small></td>
						</tr>
						<tr>
							<td>Apellido</td>
							<td><input type="text" th:field="*{apellido}"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small></td>
						</tr>
						<tr>
							<td>Email</td>
							<td><input type="email" th:field="*{email}"
								th:errorclass="'form-control alert-danger'" /><small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small></td>
						</tr>
						<tr>
							<td>Fecha</td>
							<td><input type="text" th:field="*{createAt}"
								th:errorclass="'form-control alert-danger'" /><small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small></td>
						</tr>
						<tr>
							<td><input type="submit" value="Crear cliente"
								class="btn btn-secondary" /></td>
						</tr>
					</table>
					<!--  <input type="hidden" th:field="*{id}" /> asi se obtenia mas o menos el id-->
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>