<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title"></h4>
				<a th:href="@{/form}" class="btn btn-primary btn-xs">Crear
					cliente</a>

				<table class="table table-striped">
					<thead>
						<th>id</th>
						<th>nombre</th>
						<th>apellido</th>
						<th>email</th>
						<th>fecha</th>
						<th>Editar</th>
						<th>Eliminar</th>
					</thead>
					<tbody>
						<tr th:each="cliente:${clientes}">
							<td th:text="${cliente.id}"></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.email}"></td>
							<td th:text="${cliente.createAt}"></td>
							<td><a th:href="@{/form}+'/'+${cliente.id}" th:text="Editar"></a></td>
							<td><a th:href="@{/eliminar}+'/'+${cliente.id}"
								th:text="eliminar"
								onclick="return confirm('segurisimo de iliminar compa?')"></a></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="includes/pageRender :: paginator"></nav>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>