<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
<nav th:fragment="paginator">
<ul class="pagination">
<li class="page-item" th:class="${page.first? 'page-item disabled':'page-item'}">
<span class="page-link" th:if="${page.first}"> Inicio</span>
<a class="page-link" th:if="${not page.first}" th:href="@{${page.url}(page=0)}"> Inicio</a>
</li>
<li class="page-item" th:class="${not page.hasPrevious? 'page-item disabled':'page-item'}">
<span class="page-link" th:if="${not page.hasPrevious}" > Anterior</span>
<a class="page-link" th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.paginaActual-2})}"> &laquo;</a>
</li>
<li class="page-item" th:class="${item.actual? 'page-item active' : 'page-item' }" th:each="item:${page.PageItems}">
<span class="page-link" th:if="${item.actual}" th:text="${item.numero}"></span>
<a class="page-link" th:if="${not item.actual}" th:href="@{${page.url}(page=${item.numero-1})}" th:text="${item.Numero}"></a>
</li>
<li class="page-item" th:class="${not page.hasNext? 'page-item disabled':'page-item'}">
<span class="page-link" th:if="${not page.hasNext}" > Siguiente</span>
<a class="page-link" th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.paginaActual})}"> &raquo;</a>
</li>
<li class="page-item" th:class="${page.last? 'page-item disabled':'page-item'}">
<span class="page-link" th:if="${page.last}"> Final</span>
<a class="page-link" th:if="${not page.last}" th:href="@{${page.url}(page=${page.totalPaginas-1})}"> Final</a>
</li>
</ul>
</nav>
</body>
</html>